/* Font-Family Url */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Poppins:wght@100&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}
/* golbal elements */
p
{
    color: #949cb0 !important;
}
ul
{
  list-style-type: none !important;
}
/* form__style */
.myForm > input
{
  background-color: transparent;
  color: #ffff;
  border-color: #a8a8a83d;
}